<% users = trip.users %>
<% comments = trip.comments %>
<div id='social-box'>
    <p id='attending'><%= users.count %> <%= users.count == 1 ? "person is" :  "people are" %>  going</p>
    <div class='row' id='users'>
        <div class='user-images'>
            <% for user in users.limit(6)  %>
            <div class='user-image col-md-2'>
                <p class='name'><%= user.name %></p>
                <img src='<%= user.profile_picture %>' />
            </div>
            <% end %>
            <div style='clear:both'></div>
        </div>
    </div>
    <div id='recent-comment'>
        <% for comment in comments %>
        <p><span class='comment-name'><%= comment.user.name %></span> <span class='comment-says'>says</span><span class='comment-content'> "<%= comment.comment %>" </span></p>
            <% end %>
    </div>
</div>
