<div id='opening-text'>
    <h1>Looking for a quick trip and need some company?</h1>
    <h2>Network Trips organises coach trips with companions.</h2>
</div>

<div id='banner'>
    <div id='featured-trips' class='row'>
        <% for trip in @trips %>
        <div class='trip col-md-4'>
            <div class='featured-trip'>
                <div id='intro-text'>
                    <h3><%= trip.name %></h3>
                    <h4><%= trip.tagline %></h4>
                </div>

                <div id='infomation-box'>
                    <h4 class='info'><span class='float-left'>Departing</span> <span class='float-right'><%= trip.departing %></span></h4>
                    <h4 class='info'><span class='float-left'>Date</span> <span class='float-right'><%= trip.date_to_string %></span></h4>
                    <div style='clear:both'></div>
                </div>
                <div style='clear:both'></div>
                <%= render "shared/social_box", trip: trip %>
                <div class='cost-box'>
                    <div id='trip-cost'>
                        <h3>Cost £70</h3>
                        <p>Invite others to get a discount</p>
                        <h4>All attendents must be 18+</h4>
                    </div>
                    <div class='find-out-more'>
                        <a href='/trip/<%= trip.page_name%>' class="btn btn-primary btn-lg">Find out more</a>
                    </div>
                    <div style='clear:both'></div>
                </div>
                <div style='clear:both'></div>
            </div>

        </div>

        <% end %>
    </div>

</div>

<div id='where-should-we-go-next'>
    <h2 id='where-should-we-go-title-text'>Where should we go next?</h2>
    <% for place in @places %>
    <div class='place'>
        <h3 class='place-name'><%= place.name%></h3>
        <div class='row'>
            <% for image in place.images %>
            <div class='col-md-4'>
                <img class='place-image' src='<%= image.url%>' />
            </div>
            <% end %>
        </div>
        <div class='id-like-to-go'>
            <% if current_user.nil? || place.users.find_by(id: current_user.id) == nil %>
            <h4><span class='count'><%= place.users.count%></span> <%= place.users.count == 1 ? "Person wants" : "People want" %>  to go </h4>
            <button type="button" class='id-like-to-go-button btn btn-primary' id='button<%= place.id %>'>I'd like to go</button>
            <% else %>
                <h4><%= place.users.count == 1 ? "You want to go" : "You and " + (place.users.count - 1).to_s + " other " + ((place.users.count - 1) == 1 ? "person wants " : "people want ") + "to go" %></h4>
            <% end %>
        </div>
    </div>
    <% end %>
    <div style='clear:both'></div>
</div>
