<div id='opening-text'>
    <h1><%= @trip.name %></h1>
</div>

<div class='row'>
    <div class='col-md-9'>
        <div id='trip-banner' class='row'>

            <div class='col-md-4'>
                <img src="<%= @trip.trip_images.first.url %>" />
            </div>
            <div class='col-md-4'>
                <h2>Holiday Highlights</h2>
                <%= @trip.highlight_text.html_safe %>
            </div>
            <div class='col-md-4'>
                <div id='booking-info'>
                    <h2><%= @trip.date_to_string %></h2>
                    <%= @trip.booking_info.html_safe %>

                    <div id='booking-pane'>
                        <div id='cost-pane'>
                            <h3>Cost £69</h3>
                            <a href=''>Get a discount</a>
                        </div>

                        <a id='book-now-button' class='btn btn-lg btn-primary' href=''>Book Now</a>
                        <div style='clear:both'></div>
                    </div>
                </div>
            </div>



        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h2><%= @users.count %> Travel Buddies</h2>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-1'>
                <button id='buddies-button-left' class='btn btn-lg btn-primary'><span class="glyphicon glyphicon-chevron-left"></span></button>
            </div>
            <div id='images'>
                <% for user in @users %>
                <div class='user-image col-md-2'>

                            <p class='user-name'><%= user.name %></p>
                            <img class='trip-user-image' src='<%= user.profile_picture %>' />
                            <p class='user-intro'><%= user.intro %></p>

                </div>
                <% end %>
            </div>
            <div class='col-md-1'>
                <button id='buddies-button-right' class='btn btn-lg btn-primary'><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
        <div class='row'>
        <div class='col-md-8 col-md-offset-4'>
        <% if current_user.nil? %>
            <h2 id='sign-up-or-login-to-comment'><span class='sign-up-link'>Sign Up</span> or <span class='login-link'>Login</span> and book a ticket to comment </h2>
        <% elsif !@has_ticket %>
            <h2 class='comment-heading'>Before you can join the conversation you must <a>Buy a Ticket</a></h2>
        <% else %>


            <%= form_tag('/comments?trip=' + @trip.id.to_s, method:'post') do %>
                <h3><%= label_tag(:comment, 'Join the Conversation')%></h3>
                <%= text_area_tag(:comment, "", id: "comment-text-input") %><br />
                <%= submit_tag('Post', id: "post-button") %>
            <% end %>
        <% end %>
    </div>
</div>

        <% for comment in @comments %>
        <div class='trip-comment row'>
            <div class=col-md-4>
                <img class='comment-image' src='<%=comment.user.profile_picture %>' />
            </div>
            <div class='col-md-8'>
            <div class='comment-contents'>
            <h3><%= comment.user.name %></h3>
            <p><%= comment.comment %></p>
        </div>
            <div class='replies'>
            <% for reply in comment.comments %>
                <div class='reply row'>
                    <div class='col-md-2'>
                        <img class='comment-image' src='<%=reply.user.profile_picture %>' />
                    </div>
                    <div class='col-md-8'>
                        <h3><%= reply.user.name %></h3>
                        <p><%= reply.comment %></p>
                    </div>
                </div>
            <% end %>
            <% if @has_ticket %>
            <div class='reply-pane'>
            <%= form_tag('/comments/?reply_to=' + comment.id.to_s, method:"post") do %>

                <%= text_field_tag(:reply,nil, class: "reply-text") %>
                <%= submit_tag('Reply', class: "btn btn-default reply-button") %>

            <% end %>
        </div>
            <% end %>
        </div>
        </div>
        </div>
        <% end %>
    </div>

    <div id='somewhere-else' class='col-md-3'>
        <h2>Somewhere Else</h2>
    </div>
</div>
